
#cardChart {
    width: 100%;
    
}

.pageTitle {
    font-weight: 300;
    margin-left: 2rem;
    margin-block: 1rem;
}

#chartValueTitles {
    display: flex;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    align-items: end;
}


#chartValueTitles > div {
    margin-right: 2rem;
}

.baseTable {
    border-collapse: separate;
  border-spacing: 0;
  background: #0d0d0d;
  border: 1px solid #222;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  table-layout: fixed;
}
.baseTable td.tickerEntry {
    text-align: left;
}

.baseTable td, .baseTable th{
    padding-block: 0.7rem;
    padding-inline: 4rem;
    text-align: right;
    margin: 0px;
    border-bottom: 1px #222 solid;
}
.baseTable th {
    color: #EAB308; 
    font-weight: 600;
    letter-spacing: 0.02em;
  }
  
  .baseTable td {
    color: #e5e7eb; 
  }
  .blank-row td {
    height: 15px;        /* or whatever spacing */
    background: transparent;
    border: none;
  }

#ValueTitles {
    display: flex;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    align-items: end;
    text-align:center;
}


#ValueTitles > div {
    margin-right: 2rem;
}

.titleDiv {
    display: flex;
    align-items: center;
}
.titleDiv > p {
    margin-left: auto;
    margin-right: 1.5rem;
    opacity: 50%;
}
.titleDiv > p {
    margin-left: auto;
    margin-right: 1.5rem;
    opacity: 50%;
}
